@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --primary-color: #F1CF82;
    --secondary-color: #ACC5D0;
    --accent1-color: #6D7B82;
    --accent2-color: #FFFFFF;

    --heading-font: Lato, serif;
    --paragraph-font: Raleway, serif;

    --nav-background-color: #6D7B82;
    --nav-link-color: #F1CF82;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #ACC5D0;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}
header{
    /* padding: 20px; */
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
}
header img {
    width: 150px;
    grid-column: 1/2;
    list-style: none;
    height: auto;
}
header nav{
    grid-column: 2/3;
    display: flex;
    font-size: large;
}
header nav a {
    flex: 1 1 100%;
}

a:hover {
    text-decoration:underline;
    color: var(--accent1-color);
    font-weight: 700;
}

p{
    padding: 25px;
}
a{
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.history{
    display: flex;
    align-items: center;
}
.history img{
    height: auto;
    max-width: 250px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    top: 0px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 100px 10px 35px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 100px 10px 35px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 100px 10px 35px;
}

article {
    position: absolute;
    bottom: 0px;
    color: #FFFFFF;
    background-color: rgba(5, 20, 230, 0.3);
    margin: 20px;
}

.hero article img{
    width: 210px;
    height: auto;
    float: right;
    margin: 15px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

footer img{
    max-width: 20px;
    margin: 10px;
}

.adventure-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure-grid figure{
    margin: 1rem;
    text-align: center;
}
.adventure-grid img{  
    max-width: 140px;
    margin: 0;
} 

.employees-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}
.employees-grid figure{
    margin: 1rem;
    text-align: center;
}
.employees-grid img{
    max-width: 250px;
    margin: 0 auto;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

form{
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.2rem;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

legend{
    padding: 0.2rem;
    color: var(--primary-color);
    font-size: 1.5rem;
}

label{
    padding-right: 1rem
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    width: 1.3rem;
    height: 1.3rem;

}

button{
    margin: 1rem;
    background-color: var(--nav-link-color);
    color:  var(--accent1-color);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover{
    background-color: var(--accent2-color);
}

.purpose-radio{
    display: grid;
    padding: 1rem 0;
    margin: 0;
    grid-template-columns: 1fr 3fr;
}

/*trip page*/
.trip-header{
    position: relative;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #DDD;
    color: #000;
    height: 200px;
}

.trip-header h1{
    position: absolute;
    top: 10px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.trip-header p{
    position: absolute;
    top: 80px;
    left: 40px;    
    padding: 10px 50px 10px 5px;
}

.trip-header button{
    position: absolute;
    top: 150px;
    left: 700px;
    padding: 10px 30px ;
}
.trip-header a{
    text-decoration: none;
}

.trip-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.trip-box{
    position: relative;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #DDD;
    color: #000;
    height: 300px;
}

.trip-box img {
    position: absolute;
    width: auto;
    height: 170px;
    margin: 0 auto;
    padding: 0 auto;
}

.trip-box h2{
    position: absolute;
    top: 120px;
    padding: 0;
    margin: 0 20px 0 0;
}

.trip-box p{
    position: absolute;
    top: 200px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.available-trips-list{
    display: grid;
    grid-template-rows: auto;
}

.available-trips-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.available-trips-grid img{
    width: auto;
    height:150px;
    padding: 1rem;
}
.available-trips-grid-description{
    display: flex;
    flex-direction: column;
}
.available-trips-grid-description h3{
    color: #000;
    padding: 0;
    margin: 20px 20px 0;
}
.available-trips-grid-description  p{
    padding: 0;
    margin: 20px 20px 0;
}
.available-trips-grid-description button{
    padding: 10px 30px;
    max-width: 250px;
    align-self:self-end;
    color: black;
}



